*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Courier New', Courier, monospace;

  --text-color: #bbb;
  --bg-dark: #111;
  --bg-light: #333;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-color);
  margin: 0;
  padding: 8px;
  font-family: var(--font);
  font-size: 14px;
  font-family: var(--primary-font);
}

section {
  padding: 20px 0;
  display: flex;
  gap: 10px;
}

.list {
  padding: 8px;
  background-color: var(--bg-light);
  width: 300px;
  border-radius: 5px;
  max-height: 85vh;
}

.list > input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  margin-bottom: 5px;
  padding: 5px;
  font-weight: bold;
  outline: none;
  font-size: 16px;
}

.list > input:focus {
  background-color: var(--text-color);
  color: var(--bg-dark);
  outline: auto;
  border-radius: 5px;
}

.list-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 73vh;
}

.card {
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  margin: 5px;
}

p {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 5px 0;
}

p:hover {
  color: #fff;
}
