*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Courier New', Courier, monospace;

  --text-color: #bbb;
  --bg-dark: #111;
  --bg-light: #333;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-color);
  margin: 0;
  padding: 8px;
  font-family: var(--font);
  font-size: 14px;
  font-family: var(--primary-font);
}

section {
  padding: 20px 0;
  display: flex;
  gap: 10px;
}

p {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

p:hover {
  color: #fff;
  background-color: #000;
}

.list > input,
.card > input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  margin-bottom: 5px;
  padding: 5px;
  outline: none;
}

.list > input {
  font-size: 16px;
  font-weight: bold;
}

.list > input:focus,
.card > input:focus {
  background-color: var(--text-color);
  color: var(--bg-dark);
  outline: auto;
  border-radius: 5px;
  padding: 10px 5px;
}

.card > input:focus {
  background-color: var(--bg-dark);
  color: var(--text-color);
  outline: none;
}
